{{ 'products-showcase.css' | asset_url | stylesheet_tag }}

<div class="showcase-container">
  {% for block in blocks %}
    <a href="{{block.settings.link}}">
      <div class="product-container">
        {% if block.settings.image != blank %}
          {{ block.settings.image | image_url: width: block.settings.image.width | image_tag: class: 'product__image' }}
        {% else %}
          <img
            class="product__image"
            width="1000"
            height="500"
            src="{{ 'product-placeholder.png' | asset_img_url: 'master' }}"
          >
        {% endif %}
        <div class="product-details">
          <div class="product-title">{{ block.settings.name }}</div>
          <div class="product-rating">
            <div class="rating-stars">
              {% for i in (1..block.settings.stars) %}
                {{ 'star-icon.svg' | inline_asset_content }}
              {% endfor %}
            </div>
            <div class="rating-details">
              ({{ block.settings.stars }}.0 Of {{ block.settings.reviews_amount }} Reviews)
            </div>
          </div>
        </div>
      </div>
    </a>
  {% endfor %}
</div>
