{{ 'announcement-bar.css' | asset_url | stylesheet_tag }}

{% assign mailto = 'mailto:' | append: section.settings.announcement_bar_mail %}
{% assign phoneto = 'tel:' | append: section.settings.announcement_bar_phone %}

<div class="announcement-bar__container container light-text">
  <div class="announcement-bar__col">
    <a class="announcement-bar__col-link" href="{{ mailto }}">
      {{ 'mail-icon.svg' | inline_asset_content }}
      <div class="announcement-bar__col-content">
        {{ section.settings.announcement_bar_mail }}
      </div>
    </a>
  </div>
  <div class="announcement-bar__col">
    {{ section.settings.announcement_bar_text }}
  </div>
  <div class="announcement-bar__col">
    <a class="announcement-bar__col-link" href="{{ phoneto }}">
      {{ 'phone-icon.svg' | inline_asset_content }}
      <div class="announcement-bar__col-content">
        {{ section.settings.announcement_bar_phone }}
      </div>
    </a>
  </div>
</div>

{% schema %}
{
  "name": "Announcement Bar",
  "tag": "section",
  "class": "sec-announcement-bar",
  "settings": [
    {
      "type": "text",
      "id": "announcement_bar_text",
      "label": "Announcement Text",
      "default": "WE PAY SHIPPING ON ORDERS OVER $X"
    },
    {
      "type": "text",
      "id": "announcement_bar_mail",
      "label": "Email Address",
      "default": "info@brand.com"
    },
    {
      "type": "text",
      "id": "announcement_bar_phone",
      "label": "Phone Number",
      "default": "+1 (111) 222-3333 "
    }
  ]
}
{% endschema %}
