{{ 'banner.css' | asset_url | stylesheet_tag }}

<div class="banner__container container light-color">
  <picture>
    {% if section.settings.image_desktop != blank %}
      {% assign desktop_img_height = section.settings.image_desktop.width %}
      <source
        media="(min-width: 768px)"
        srcset="{{ section.settings.image_desktop | image_url: width: section.settings.image_desktop.width }}"
      >
    {% else %}
      {% assign desktop_img_height = 506 %}
      <source
        media="(min-width: 768px)"
        srcset="{{ 'banner-desktop.png' | asset_img_url: 'master' }}"
      >
    {% endif %}

    {% liquid
      assign img_classes = 'banner__image '
      if section.settings.animate_banner
        assign img_classes = img_classes | append: 'float-img'
      endif
    %}
    {% if section.settings.image_mobile != blank %}
      {% assign mobile_img_height = section.settings.image_mobile.width %}
      {{
        section.settings.image_mobile
        | image_url: width: section.settings.image_mobile
        | image_tag: class: img_classes
      }}
    {% else %}
      {% assign mobile_img_height = 527 %}
      <img
        width="750"
        height="527"
        class="{{ img_classes }}"
        src="{{ 'banner-mobile.png' | asset_img_url: 'master' }}"
      >
    {% endif %}
  </picture>

  {% style %}
    .sec-banner,
    .banner__image  {
      height: {{ mobile_img_height }}px;
    }

    @media screen and (min-width: 768px) {
      .sec-banner,
      .banner__image  {
        height: {{ desktop_img_height }}px;
      }
    }
  {% endstyle %}
  <div class="banner__content">
    <div class="banner__row banner__row--center-mobile">
      <p class="body-text-3">{{ section.settings.top_text }}</p>
      <div>
        {% for i in (1..section.settings.stars_quantity) %}
          {{ 'star-icon.svg' | inline_asset_content }}
        {% endfor %}
      </div>
    </div>
    <div class="banner__row">
      <h2>{{ section.settings.center_text }}</h2>
    </div>
    <div class="banner__row">
      <p class="body-text-4">
        {{ section.settings.bottom_text }}
      </p>
    </div>
    <div class="banner__row banner__cta-row banner__row--center-mobile">
      <a
        href="{{ section.settings.btn_url }}"
        class="cta-btn {% if section.settings.cta_btn_glow %}cta-btn-glow{% endif %}"
      >
        {{- section.settings.btn_text -}}
      </a>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Banner",
  "tag": "section",
  "class": "sec-banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_desktop",
      "label": "Desktop Banner"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Mobile Banner"
    },
    {
      "type": "checkbox",
      "id": "animate_banner",
      "label": "Banner Animation",
      "default": true
    },
    {
      "type": "text",
      "id": "top_text",
      "label": "Top Text",
      "default": "With 1600+ 5-star reviews"
    },
    {
      "type": "range",
      "id": "stars_quantity",
      "min": 0,
      "max": 5,
      "step": 1,
      "label": "Amount of stars",
      "default": 5
    },
    {
      "type": "text",
      "id": "center_text",
      "label": "Center Text",
      "default": "Lorem ipsum dolor sit amet consectetur"
    },
    {
      "type": "text",
      "id": "bottom_text",
      "label": "Bottom Text",
      "default": "Lorem ipsum dolor sit amet consectetur. Elit elementum rhoncus"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text",
      "default": "View More"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button Link"
    },
    {
      "type": "checkbox",
      "id": "cta_btn_glow",
      "label": "Button Glow Effect",
      "default": true
    }
  ]
}
{% endschema %}
