{{ 'header.css' | asset_url | stylesheet_tag }}

<div class="header__container container">
  <div class="header__row">
    <div class="hidden-desktop">
      <button aria-controls="headerNavbar" class="header__btn header__nav-toggle">
        <div class="header__icon">
          {{ 'menu-icon.svg' | inline_asset_content }}
        </div>
        <span>MENU</span>
      </button>
    </div>
    <div class="header__logo">
      {% render 'logo' %}
    </div>
    <div class="hidden-mobile">
      {% render 'header-search', extra-classes: 'hidden-mobile' %}
    </div>
    <div>
      <a class="header__link" href="{{ routes.cart_url }}">
        <div class="header__icon">
          {{ 'cart-icon.svg' | inline_asset_content }}
          <div class="header__icon-notification">
            {{ cart.item_count }}
          </div>
        </div>
        <span>CART</span>
      </a>
    </div>
  </div>

  <div class="header__row hidden-desktop">
    {% render 'header-search' %}
  </div>

  <div class="header__row header__row-navbar">
    <nav id="headerNavbar" class="header__navbar">
      <ul class="header__navbar-list">
        {% for link in section.settings.navigation_menu.links %}
          <li class="header__navbar-item">
            <a class="header__navbar-link" href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</div>

<script>
  function setupMobileNavbar() {
    const navbar = document.querySelector('.header__navbar');
    const body = document.querySelector('body');
    document.querySelector('.header__nav-toggle').addEventListener('click', (e) => {
      body.classList.toggle('overflow-hidden');
      if (navbar.clientHeight) {
        navbar.style.height = '0';
        navbar.style.visibility = 'none';
      } else {
        navbar.style.visibility = 'visible';
        navbar.style.height = window.innerHeight + 'px';
      }
    });

    /* Avoid scroll lock in the theme editor */
    mediaQueries.desktop.addEventListener('change', function (e) {
      if (mediaQueries.desktop.matches) {
        navbar.style = '';
        body.classList.remove('overflow-hidden');
      }
    });
  }

  document.addEventListener('DOMContentLoaded', setupMobileNavbar);
</script>

{% schema %}
{
  "name": "Header",
  "class": "sec-header",
  "tag": "header",
  "settings": [
    {
      "type": "link_list",
      "id": "navigation_menu",
      "label": "Navigation Menu",
      "default": "main-menu"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Search Button Text",
      "default": "Search"
    },
    {
      "type": "text",
      "id": "input_placeholder",
      "label": "Search Input Placeholder",
      "default": "Search: Lorem Ipsum"
    }
  ]
}
{% endschema %}
